<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.itaysonlab.homefeeder">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".overlay.DrawerOverlayService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />

                <data android:scheme="app" />
            </intent-filter>

            <meta-data
                android:name="service.api.version"
                android:value="7" />
        </service>
    </application>

</manifest>